<div>
    <label>Genre</label>
    <input type="text" name="name" value="<%= genre.name %>">
</div>
<div>
    <label>Description</label>
    <input type="text" name="description" value="<%= genre.description %>">
</div>