<header>
    <nav class="header-nav">
        <a class="header-title" href="/"> TRACKID </a>
            <ul>
                <li class="header-link"><a href="/artists"> ARTISTS </a></li>
                <li class="header-link"><a href="/artists/new"> NEW ARTIST </a></li>
                <li class="header-link"><a href="/sets"> SETS </a></li>
                <li class="header-link"><a href="/sets/new"> NEW SET </a></li>
                <li class="header-link"><a href="/genres"> GENRES </a></li>
                <li class="header-link"><a href="/genres/new"> NEW GENRE </a></li>

            </ul>
    </nav>
</header>