<header>
    <nav class="header-nav">
        <a class="header-title" href="/"> TRACK?D </a>
            <ul>
                <li class="header-link"><a href="/sets"> SETS </a></li>
                <li class="header-link"><a href="/artists"> ARTISTS </a></li>
                <li class="header-link"><a href="/genres"> GENRES </a></li>
                <div class="new-drop">
                    <button class="dropbtn"> NEW </button>
                    <div class="new-drop-content">
                        <li class="header-link"><a href="/sets/new"> SET </a></li>
                        <li class="header-link"><a href="/artists/new"> ARTIST </a></li>
                        <li class="header-link"><a href="/genres/new"> GENRE </a></li>
                    </div>
                </div>
            </ul>
    </nav>
</header>