<header>
    <a href="/"> Trackid </a>
    <nav>
        <ul>
            <li><a href="/artists"> Artists </a></li>
            <li><a href="/artists/new"> New Artist </a></li>
            <li><a href="/sets"> Set </a></li>
            <li><a href="/sets/new"> New Set </a></li>
        </ul>
    </nav>
</header>