<header>
    <a href="/"> Trackid </a>
    <nav>
        <ul>
            <li><a href="/artists"> Artists </a></li>
            <li><a href="/artists/new"> New Artist </a></li>
            <li><a href="/genres"> Genres </a></li>
            <li><a href="/genres/new"> New Genre </a></li>
            <li><a href="/sets"> Sets </a></li>
            <li><a href="/sets/new"> New Set </a></li>
        </ul>
    </nav>
</header>