<h2 class="page-header"> RECENTLY ADDED </h2>

<div>
    <% sets.forEach(set => { %>
        <div>
            <a class="set-list" href="/sets/<%= set.id %>"> <%= set.title %> </a>
        </div>  
    <% }) %>
</div>