<h2 class="page-header"> RECENTLY ADDED </h2>

<div>
    <% sets.forEach(set => { %>
        <div>
            <a href="/sets/<%= set.id %>"> <%= set.title %> </a>
            <a target="_blank" rel="noopener noreferrer" href=" <%= set.link %> "> Link </a>
        </div>  
    <% }) %>
</div>