@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/artists.css';
@import 'shared/home.css';

:root{
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    background: linear-gradient(to right, rgb(26, 26, 26), rgb(2, 2, 2));
    color: white;
}

*, *::before, *::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 1.75rem;
    font-weight: 500;
}

.set-list{
    color: white;
}