.header-title {
    color: white;
    font-size: 3rem;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header-nav li {
    list-style: none;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav ul a{
    text-decoration: none;
    color: white;
    font-weight: 1rem;
    padding: 0.8rem;
}

.header-nav ul a:hover {
    color: rgb(189, 189, 189);
}

.dropbtn {
    font-size: 1rem;
    font-weight: 1rem;
    padding: 0 0.8rem;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

.new-drop-content {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .new-drop:hover .new-drop-content {
    display: block;
  }