<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= artist.name %>">
</div>
<div>
    <label>Headshot</label>
    <input type="file" name="headshot" class="filepond">
</div>
<div>
    <label>Bio</label>
    <input type="text" name="bio" value="<%= artist.bio %>">
</div>
