<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= artist.name %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Headshot</label>
        <input type="file" class="filepond" name="headshot">
    </div>

    <div class="form-item">
        <label>Description</label>
        <textarea name="bio"><%= artist.bio %></textarea>
    </div>
</div>
