<h2> Search Artists </h2>
<form action="/artists" method="GET">
    <label> Name </label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit"> Search </button>
</form>
<br>
<div>
    <% artists.forEach(artist => { %>
        <img height="240" width="240" src="<%= artist.headshotPath %>">
        <div><%= artist.name %> </div>
    <% }) %>
</div>