<h2 class="page-header"> Search Artists </h2>
<form action="/artists" method="GET">
    <label> Name </label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button class="btn btn-primary" type="submit"> Search </button>
</form>
<br>
<div>
    <% artists.forEach(artist => { %>
        <a href="/artists/<%= artist.id %>">
            <img height="240" width="240" src="<%= artist.headshotPath %>">
        </a>
        <div><%= artist.name %> </div>
    <% }) %>
</div>